// Mixins
@mixin mq($canvas) {
	@media (max-width: $canvas) {
		@content;
	}
}

// Futura PT font
@font-face {
	font-family: "Futura PT Book";
	font-style: normal;
	font-weight: normal;
	src: local("Futura PT Book"), url("../fonts/FuturaCyrillicBook.woff") format("woff");
}

// Reset
*,
*:before,
*:after {
	box-sizing: border-box;
}

// Set font size for REM usage
html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	font-family: "Futura PT Book", Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	color: #000;
	margin: 0;
}

a {
	text-decoration: none;
}

.header {
	background: linear-gradient(134.46deg, #4279db 0%, #82afff 100%);
	box-shadow: 0 0 4rem 0 rgba(15, 26, 79, 0.3);
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 0 4rem;
	position: relative;
	z-index: 1;

	@include mq(1250px) {
		height: 6rem;
		padding: 0 2.4rem;
	}
}

.header__col-1 {
	margin-right: 3.2rem;
}

.header__col-2 {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 25rem;
	height: auto;

	@include mq(1250px) {
		width: 16.5rem;
	}
}

.header__nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;

	@include mq(1250px) {
		display: none;
		position: absolute;
		top: 6rem;
		left: 0;
		right: 0;
		background-color: #fff;
		border-bottom: 0.1rem solid #e9eef2;
		padding: 6.5rem;
		z-index: 0;


		li {
			border-bottom: 0.1rem solid #e9eef2;
			position: relative;

			&:last-child {
				border-bottom-color: transparent;
			}

			.header__nav-links__link {
				color: #000 !important;
				height: auto !important;
				margin: 1.6rem auto !important;
				display: block !important;
				width: 90%;
				position: relative;
				transition: color 0.4s ease-in-out, background 0.4s ease-in-out;

				&:active,
				&:hover {
					color: #38e5c4;

					&:before {
						background-image: url("data:image/svg+xml,%3Csvg fill='none' height='14' viewBox='0 0 35 14' width='35' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%2338e5c4' stroke-width='2'%3E%3Cpath d='m1.38095 7.00009h29.71425' stroke-linecap='square'/%3E%3Cpath d='m27.2857 12.3875 5.3875-5.3875-5.3875-5.38748'/%3E%3C/g%3E%3C/svg%3E");
						background-repeat: no-repeat;
						position: absolute;
						left: -5rem;
						top: 0.3rem;
						content: " ";
						display: block;
						width: 3.5rem;
						height: 1.4rem;
					}
				}
			}
		}
	}

	li {
		.header__nav-links__link {
			color: #fff;
			height: 10rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 1.6rem;
			border-top: 0.2rem solid transparent;
			transition: border 0.4s ease-in-out;

			&:active,
			&:hover {
				border-top: 0.2rem solid #fff;
			}
		}
	}
}

.header__action-btn1 {
	background-color: transparent;
	border: 0.1rem solid #fff;
	padding: 1.2rem 3.2rem;
	color: #fff;
	text-decoration: none;
	height: 4.8rem;
	transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

	&:hover,
	&:active {
		background-color: #fff;
		color: #82afff;
	}

	@include mq(1250px) {
		display: none;
	}
}

.header__action-btn2 {
	border: 0.1rem solid #38e5c4;
	color: #38e5c4;
	background-color: transparent;
	padding: 1.2rem 3.2rem;
	text-decoration: none;
	height: 4.8rem;
	transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
	display: none;
	text-align: center;
	margin-top: 3rem;

	@include mq(1250px) {
		display: block;
	}

	&:hover,
	&:active {
		background-color: #38e5c4;
		color: #fff;
	}
}

.header__nav-menu-toggle {
	display: none;
	width: 3.1rem;
	height: 3.1rem;
	overflow: hidden;
	text-indent: -999rem;
	background-image: url("data:image/svg+xml,%3Csvg width='31' height='18' viewBox='0 0 31 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5.636h30m-30 8h30m-30 8h30' stroke='%23fff' stroke-width='1.25'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	top: 0.2rem;

	@include mq(1250px) {
		display: block;
	}

	&.active {
		background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.208.836L17.81 17.437m0-16.601L1.208 17.437' stroke='%23fff' stroke-width='1.25'/%3E%3C/svg%3E");
	}
}

.header__search {
	display: block;
	width: 2.6rem;
	height: 10rem;
	overflow: hidden;
	text-indent: -999rem;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23fff' stroke-width='1.25'%3E%3Cpath clip-rule='evenodd' d='M14.845 14.765a6.447 6.447 0 1 0-9.117-9.118 6.447 6.447 0 0 0 9.117 9.118z'/%3E%3Cpath d='M15.012 14.932l6.078 6.078'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 3.2rem;
	margin-left: 1.6rem;
	border-top: 0.2rem solid transparent;
	transition: border 0.4s ease-in-out;

	@include mq(1250px) {
		margin-right: 2.4rem;
		height: 6rem;
	}

	&:active,
	&:hover {
		border-top: 0.2rem solid #fff;
	}
}

.arrow {
	display: none;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='14' viewBox='0 0 35 14' width='35' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%2338e5c4' stroke-width='2'%3E%3Cpath d='m1.38095 7.00009h29.71425' stroke-linecap='square'/%3E%3Cpath d='m27.2857 12.3875 5.3875-5.3875-5.3875-5.38748'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999rem;
	width: 3.5rem;
	height: 1.4rem;
	transform: rotate(180deg);
	margin-bottom: 3rem;

	@include mq(1250px) {
		display: block;
	}
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 10rem;
	left: 0;
	right: 0;
	background-color: #fff;
	border-bottom: 0.1rem solid #e9eef2;
	padding: 6.5rem;
	z-index: 2;

	@include mq(1250px) {
		top: -8.1rem;
		left: -6.5rem;
		height: 49rem;
	}
}

.dropdown-menu__links {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0 auto;
	padding: 0;

	li {
		border-bottom: 0.1rem solid #e9eef2;
		position: relative;

		@include mq(1250px) {
			&:first-child {
				border-top: 0.1rem solid #e9eef2;
			}
		}

		&:last-child {
			border-bottom-color: transparent;
		}

		a {
			color: #000;
			height: auto;
			margin: 1.6rem auto;
			display: block;
			width: 90%;
			position: relative;
			transition: color 0.4s ease-in-out, background 0.4s ease-in-out;

			&:active,
			&:hover {
				color: #38e5c4;

				&:before {
					background-image: url("data:image/svg+xml,%3Csvg fill='none' height='14' viewBox='0 0 35 14' width='35' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%2338e5c4' stroke-width='2'%3E%3Cpath d='m1.38095 7.00009h29.71425' stroke-linecap='square'/%3E%3Cpath d='m27.2857 12.3875 5.3875-5.3875-5.3875-5.38748'/%3E%3C/g%3E%3C/svg%3E");
					background-repeat: no-repeat;
					position: absolute;
					left: -5rem;
					top: 0.3rem;
					content: " ";
					display: block;
					width: 3.5rem;
					height: 1.4rem;
				}
			}
		}
	}
}

.dropdown-search {
	display: none;
	position: absolute;
	top: 10rem;
	left: 0;
	right: 0;
	background-color: #fff;
	border-bottom: 0.1rem solid #e9eef2;
	padding: 6.5rem;
	z-index: 0;
}

.search {
	display: flex;
	flex-direction: row;
	position: relative;
}

.search__close {
	display: block;
	background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.208.836L17.81 17.437m0-16.601L1.208 17.437' stroke='%2338E5C4' stroke-width='1.25'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	width: 1.9rem;
	height: 1.9rem;
	overflow: hidden;
	text-indent: -999rem;
	position: absolute;
	right: 0;
	top: 1rem;
	transition: transform 0.4s ease-in-out;

	&:active,
	&:hover {
		transform: scale(1.2);
	}
}

.input {
	display: block;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 0.1rem solid #e9eef2;
	font-size: 1.8rem;
	padding: 1rem 0;

	&:focus {
		border: none;
		border-bottom: 0.1rem solid #e9eef2;
		outline: none;
	}

	&::placeholder {
		color: #000;
	}
}
